.auth {
    height: 460px;
}

.auth__form, .auth__change {
    width: 50%;
    transition: .4s ease-in;
}

.auth__form h2::before {
    content: "Вход";
}

.auth__form button::before {
    content: "Войти";
}

.auth__change {
    background-color: #dc3545;
}

.auth__change button::before {
    content: "Зарегистрироваться";
}

#authForm .nameInput {
    display: none;
}

#authForm.auth__form_active {
    transform: translateX(100%);
}

#authForm.auth__form_active h2::before {
    content: "Регистрация";
}

#authForm.auth__form_active button::before {
    content: "Зарегистрироваться";
}

#authForm.auth__form_active .nameInput {
    display: block;
}

.auth__change.auth__change_active {
    transform: translateX(-100%);
}

.auth__change.auth__change_active button::before {
    content: "Войти";
}
